<!doctype html>
<html>
  <head>
    <title>Is Alameda exploding?</title>
  </head>

  <body>
    <h1>What are those loud noises in Alameda?</h1>

    <% if @holidays %>
      <p>Probably because it's <%= @holidays %></p>
    <% else %>
      <p>No idea, it might be Armageddon</p>
    <% end %>

  </body>
</html>
