body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px);
  margin: 20px;
  font-family: Verdana, arial, sans-serif;
  font-size: 14px;
}

.container {
  text-align: center;
}

.container p {
  font-size: 18px;
}
