body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 40px);
  margin: 20px 20px 0;
  font-family: Verdana, arial, sans-serif;
  font-size: 1em;
}

.container {
  text-align: center;
}

.container p {
  padding: 10px;
  font-size: 1.15em;
}

footer {
  font-size: 0.85em;
}
